.onShow
{
    background:url(./images/reg1.gif) no-repeat -3px -3px; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus
{
    background:#E9F0FF url(./images/reg2.gif) no-repeat -3px -3px; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onError
{
    background:#FFF2E9 url(./images/reg3.gif) no-repeat -3px -3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onSuccess
{
    background:#E9FFEB url(./images/reg4.gif) no-repeat -3px -3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onNote{
  background:#F9DDEB  no-repeat -3px -3px;
    padding-left:5px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onLoad
{
    background:#E9FFEB url(./images/loading.gif) no-repeat -3px -3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 