/*打印样式*/
div.form-print{
	margin-left: 2cm;margin-top: 3cm;margin-right: 2cm;
	font-family: "方正小标宋简体"; font-weight: bold; color: #000000;
}
div.textArea-print{
padding-left:5px;padding-top:5px;padding-right:5px;
}
