.ke-icon-text {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -1126px;
      width: 16px;
      height: 16px;
      }
 .ke-icon-password {
      background-image: url(customizeImg/password.gif);
      background-position: 1px 0px;
      width: 16px;
      height: 16px;
      }
 .ke-icon-textarea {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -802px;
      width: 16px;
      height: 16px;
      }
 .ke-icon-radio {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -1063px;
      width: 16px;
      height: 16px;
      }
      
 .ke-icon-SELECT_MAN_DEPT {
	 background-image: url(customizeImg/custom.gif);
	 background-position: 0px -1080px;
	 width: 16px;
	 height: 16px;
 }
 
 .ke-icon-MacroComponent {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -1040px;
      width: 16px;
      height: 16px;
 }
      
.ke-icon-CALCULATE_COMPONENT {
	background-image: url(customizeImg/custom.gif);
	background-position: 0px -1020px;
	width: 16px;
	height: 16px;
}

.ke-icon-DATA_SELECTION {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -1210px;
      width: 16px;
      height: 16px;
 }
 
 .ke-icon-DATA_ACQUISITION {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -1227px;
      width: 16px;
      height: 16px;
 }
.ke-icon-PULLDOWNMENU {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -979px;
      width: 16px;
      height: 16px;
 }
 
 .ke-icon-checkbox {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -999px;
      width: 16px;
      height: 16px;
 }

.ke-icon-LIST_CONTROL {
	 background-image: url(customizeImg/custom.gif);
     background-position: 0px -1245px;
     width: 16px;
     height: 16px;
}
 .ke-icon-hidden {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -935px;
      width: 16px;
      height: 16px;
}
 .ke-icon-select {
      background-image: url(customizeImg/custom.gif);
      background-position: 0px -869px;
      width: 16px;
      height: 16px;
}
      
 .ke-icon-date {
 	 background-image: url(customizeImg/custom.gif);
    background-position: 0px -304px;
    width: 16px;
    height: 16px;
}
 .ke-icon-time {
 	 background-image: url(customizeImg/custom.gif);
    background-position: 0 -1191px;
    width: 16px;
    height: 16px;
}

.ke-icon-layer {
	background-image: url(customizeImg/custom.gif);
    background-position: 0px -544px;
    width: 16px;
    height: 16px;
}

.ke-icon-URGENCY {
	background-image: url(customizeImg/custom.gif);
	background-position: 0px -1100px;
	width: 16px;
	height: 16px;
}
.ke-icon-save {
	background-image: url(customizeImg/custom.gif);
	background-position: 0px -1170px;
	width: 39px;
	height: 16px;
}
.ke-icon-mypreview {
	background-image: url(customizeImg/custom.gif);
	background-position: 0px -834px;
	width: 39px;
	height: 16px;
}
.ke-icon-back {
	background-image: url(customizeImg/custom.gif);
	background-position: 0px -1150px;
	width: 32px;
	height: 16px;
}
.ke-icon-CREATE_SPECIAL_TASK{
	background-image: url(customizeImg/custom.gif);
      background-position: 0px -999px;
      width: 16px;
      height: 16px;
}
.ke-icon-SPECIAL_TASK_TRANSACTOR{
	background-image: url(customizeImg/custom.gif);
	background-position: 0px -1080px;
	width: 16px;
	height: 16px;
}

.ke-icon-STANDARD_LIST_CONTROL {
	 background-image: url(customizeImg/custom.gif);
     background-position: 0px -1263px;
     width: 16px;
     height: 16px;
}

.ke-icon-BUTTON {
	 background-image: url(customizeImg/custom.gif);
     background-position: 0px -1281px;
     width: 16px;
     height: 16px;
}
.ke-icon-LABEL {
	 background-image: url(customizeImg/custom.gif);
     background-position: 0px -240px;
     width: 16px;
     height: 16px;
}